<main>
  <div class="container">

    <!-- Section: Public Profile -->
    <section class="section">
      <!-- First row -->
      <div class="row">
        <!-- First column -->
        <div class="col-lg-4 mb-4">

          <!-- Card -->
          <div class="card card-cascade narrower">

            <!-- Card image -->
            <div class="view view-cascade gradient-card-header mdb-color blue darken-2">
              <h5 class="mb-0 font-weight-bold"><strong>Edit Photo</strong></h5>
            </div>
            <!-- Card image -->

            <!-- Card content -->
            <div class="card-body card-body-cascade text-center">
              <img src="https://picsum.photos/200" alt="User Photo"
                class="z-depth-1 mb-3 mx-auto">

              <p class="text-muted"><small>Profile photo will be changed automatically</small></p>
              <div class="row flex-center">
                <button class="btn btn-info btn-sm waves-effect waves-light">Upload New Photo</button><br>
                <button class="btn btn-danger btn-sm waves-effect waves-light">Delete</button>
              </div>
            </div>
            <!-- Card content -->

          </div>
          <!-- Card -->

          <!-- Card -->
          <div class="card card-cascade narrower mt-5">

            <!-- Card image -->
            <div class="view view-cascade gradient-card-header mdb-color blue darken-2">
              <h5 class="mb-0 font-weight-bold"><strong>Account</strong></h5>
            </div>
            <!-- Card image -->

            <!-- Card content -->
            <div class="card-body card-body-cascade text-center">
              <form>
                <div class="form-row">
                  <div class="col-md-12">
                    <div class="md-form form-group">
                      <input type="text" id="change-email" class="form-control validate" type="text" name="email" readonly>
                      <label for="change-email">Email</label>
                    </div>

                    <div class="md-form form-group">
                      <input type="password" id="cur-pass" class="form-control" type="password">
                      <label for="cur-pass">Current password</label>
                    </div>

                    <div class="md-form form-group">
                      <input type="password" id="new-pass-1" class="form-control" type="password">
                      <label for="new-pass-1">New password</label>
                    </div>

                    <div class="md-form form-group">
                      <input type="password" id="cur-pass-2" class="form-control" type="password">
                      <label for="new-pass-2">Confirm password</label>
                    </div>

                  </div>
              </form>
                  <div class="flex-center">
                    <button class="btn btn-danger btn-sm waves-effect waves-light">Change email</button><br>
                    <button class="btn btn-danger btn-sm waves-effect waves-light">Change password</button>
                </div>

            </div>

          </div>
          <!-- Card content -->

        </div>
        <!-- Card -->

      </div>
      <!-- First column -->

      <!-- Second column -->
      <div class="col-lg-8 mb-4">

        <!-- Card -->
        <div class="card card-cascade narrower">

          <!-- Card image -->
          <div class="view view-cascade gradient-card-header mdb-color blue darken-2">
            <h5 class="mb-0 font-weight-bold"><strong>Public Profile</strong></h5>
          </div>
          <!-- Card image -->

          <!-- Card content -->
          <div class="card-body card-body-cascade text-center">

            <!-- Edit Form -->
            <form>

              <!-- First row -->
              <div class="form-row m-auto">
                <!-- First column -->
                <div class="col-md-6">
                  <div class="md-form">
                    <input type="text" id="form81" class="form-control">
                    <label for="form81" class="">First name</label>
                  </div>
                </div>

                <!-- Second column -->
                <div class="col-md-6">
                  <div class="md-form">
                    <input type="text" id="form82" class="form-control">
                    <label for="form82" class="">Last name</label>
                  </div>
                </div>
              </div>
              <!-- First row -->

              <!-- Second row -->
              <div class="form-row m-auto">

                <!-- First column -->
                <div class="col col-md-12">
                  <div class="md-form">
                    <input id="input-char-counter1" type="text" length="60" class="form-control" mdbCharCounter
                      mdbInput>
                    <label for="input-char-counter1">Headline</label>
                  </div>
                </div>
              </div>
              <!-- Second row -->

              <!-- Third row -->
              <div class="form-row">
                <!-- First column -->
                <div class="col form-outline col-md-12 ml-lg-2">
                  <div class="md-form">
                    <textarea type="text" id="form75" class="form-control md-textarea" mdbInput></textarea>
                    <label for="form75">About me</label>
                  </div>

                </div>
              </div>
              <!-- Third row -->

              <!-- Fourth row -->
              <div class="form-row">
                <div class="col form-outline col-md-12">
                  <div class="row">
                      <label class="ml-4 text-left font-weight-light" for="material-url">Your URL</label>

                  </div>
                  <div class="row md-form input-group mt-0 mb-3 ml-4">
                    <div class="input-group-prepend">
                      <span class="input-group-text md-addon font-weight-light" id="material-addon3">https://</span>
                    </div>
                    <input type="text" class="form-control" id="material-url" aria-describedby="material-addon3">
                  </div>
              
                </div>
              </div>

              <!-- Fifth row -->
              <div class="form-row">
                <div class="col form-outline col-md-12">
                  <div class="row">
                      <label class="ml-4 text-left font-weight-light" for="material-url">Facebook</label>

                  </div>
                  <div class="row md-form input-group mt-0 mb-3 ml-4">
                    <div class="input-group-prepend">
                      <span class="input-group-text md-addon font-weight-light" id="material-addon3">https://facebook.com/</span>
                    </div>
                    <input type="text" class="form-control" id="material-url" aria-describedby="material-addon3">
                  </div>
              
                </div>
              </div>

              <!-- Sixth row -->
              <div class="form-row">
                <div class="col form-outline col-md-12">
                  <div class="row">
                      <label class="ml-4 text-left font-weight-light" for="material-url">Twitter</label>

                  </div>
                  <div class="row md-form input-group mt-0 mb-3 ml-4">
                    <div class="input-group-prepend">
                      <span class="input-group-text md-addon font-weight-light" id="material-addon3">https://twitter.com/</span>
                    </div>
                    <input type="text" class="form-control" id="material-url" aria-describedby="material-addon3">
                  </div>
              
                </div>
              </div>
              
              <!-- Seventh row -->
              <div class="form-row">
                <div class="col form-outline col-md-12">
                  <div class="row">
                      <label class="ml-4 text-left font-weight-light" for="material-url">LinkedIn</label>

                  </div>
                  <div class="row md-form input-group mt-0 mb-3 ml-4">
                    <div class="input-group-prepend">
                      <span class="input-group-text md-addon font-weight-light" id="material-addon3">https://linkedin.com/</span>
                    </div>
                    <input type="text" class="form-control" id="material-url" aria-describedby="material-addon3">
                  </div>
              
                </div>
              </div>

              <div class="form-row">
                <div class="col form-outline col-md-12 text-center my-4">
                  <input type="submit" value="Update Account"
                    class="btn shadow-0 mdb-color btn-blue waves-effect waves-light">
                </div>

              </div>
              <!-- Fourth row -->

            </form>
            <!-- Edit Form -->

          </div>
          <!-- Card content -->

        </div>
        <!-- Card -->

      </div>
      <!-- Second column -->

  </div>
  <!-- First row -->

  </section>
  <!-- Section: Public Profile -->

  </div>

</main>