{{#section "intro"}}
{{> homeIntro}}
{{/section}}

{{> countdown}}

<!-- Intro -->

  <!-- Main Container -->
  <div class="container">

    <!-- Grid row -->
    <div class="row pt-4">

      <!-- Content -->
      <div class="col-lg-12">

   
        <section>

          <!-- Grid row -->
          <div class="row">

            <!-- Grid column -->
            <div class="col-12">

            
              <div  class="divider-new" >

                  <h3  class="h3-responsive font-weight-bold dark-grey-text mx-3" style="font-size:1cm">Khóa học nổi bật</h3>

              </div>
         


 

            
        

                  <br>

                  <!-- Grid row -->
                  <div class="row">

                    <!-- Grid column -->
                   <div class="col-lg-4 col-md-6 mb-4">

                      <!-- Card -->
                      <div class="card card-ecommerce">

                        <!-- Card image -->
                        <div class="view overlay">

                          <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Products/2.jpg"
                            class="img-fluid" alt="sample image">

                          <a>

                            <div class="mask rgba-white-slight"></div>

                          </a>

                        </div>
                        <!-- Card image -->

                        <!-- Card content -->
                        <div class="card-body">

                          <!-- Category & Title -->
                          <h5 class="card-title mb-1">

                            <strong>

                              <a href="" class="dark-grey-text">iPad PRO</a>

                            </strong>

                          </h5>

                          <span class="badge badge-danger mb-2">bestseller</span>

                          <span class="badge badge-success mb-2 ml-2">SALE</span>

                          <!-- Rating -->
                          <ul class="rating">

                            <li>

                              <i class="fas fa-star blue-text"></i>

                            </li>

                            <li>

                              <i class="fas fa-star blue-text"></i>

                            </li>

                            <li>

                              <i class="fas fa-star blue-text"></i>

                            </li>

                            <li>

                              <i class="fas fa-star blue-text"></i>

                            </li>

                            <li>

                              <i class="fas fa-star grey-text"></i>

                            </li>

                          </ul>

                          <!-- Card footer -->
                          <div class="card-footer pb-0">

                            <div class="row mb-0">

                              <h5 class="mb-0 pb-0 mt-1 font-weight-bold">

                                <span class="red-text">

                                  <strong>$699</strong>

                                </span>

                                <span class="grey-text">

                                  <small>

                                    <s>$920</s>

                                  </small>

                                </span>

                              </h5>

                              <span class="float-right">

                                <a class="" data-toggle="tooltip" data-placement="top" title="Add to Cart">

                                  <i class="fas fa-shopping-cart ml-3"></i>

                                </a>

                              </span>

                            </div>

                          </div>

                        </div>
                        <!-- Card content -->

                      </div>
                      <!-- Card -->

                    </div>
                    <div class="col-lg-4 col-md-6 mb-4">

                      <!-- Card -->
                      <div class="card card-ecommerce">

                        <!-- Card image -->
                        <div class="view overlay">

                          <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Products/2.jpg"
                            class="img-fluid" alt="sample image">

                          <a>

                            <div class="mask rgba-white-slight"></div>

                          </a>

                        </div>
                        <!-- Card image -->

                        <!-- Card content -->
                        <div class="card-body">

                          <!-- Category & Title -->
                          <h5 class="card-title mb-1">

                            <strong>

                              <a href="" class="dark-grey-text">iPad PRO</a>

                            </strong>

                          </h5>

                          <span class="badge badge-danger mb-2">bestseller</span>

                          <span class="badge badge-success mb-2 ml-2">SALE</span>

                          <!-- Rating -->
                          <ul class="rating">

                            <li>

                              <i class="fas fa-star blue-text"></i>

                            </li>

                            <li>

                              <i class="fas fa-star blue-text"></i>

                            </li>

                            <li>

                              <i class="fas fa-star blue-text"></i>

                            </li>

                            <li>

                              <i class="fas fa-star blue-text"></i>

                            </li>

                            <li>

                              <i class="fas fa-star grey-text"></i>

                            </li>

                          </ul>

                          <!-- Card footer -->
                          <div class="card-footer pb-0">

                            <div class="row mb-0">

                              <h5 class="mb-0 pb-0 mt-1 font-weight-bold">

                                <span class="red-text">

                                  <strong>$699</strong>

                                </span>

                                <span class="grey-text">

                                  <small>

                                    <s>$920</s>

                                  </small>

                                </span>

                              </h5>

                              <span class="float-right">

                                <a class="" data-toggle="tooltip" data-placement="top" title="Add to Cart">

                                  <i class="fas fa-shopping-cart ml-3"></i>

                                </a>

                              </span>

                            </div>

                          </div>

                        </div>
                        <!-- Card content -->

                      </div>
                      <!-- Card -->

                    </div>
                    <!-- Grid column -->

                    <!-- Grid column -->
                    <div class="col-lg-4 col-md-6 mb-4">

                      <!-- Card -->
                      <div class="card card-ecommerce">

                        <!-- Card image -->
                        <div class="view overlay">

                          <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Products/2.jpg"
                            class="img-fluid" alt="sample image">

                          <a>

                            <div class="mask rgba-white-slight"></div>

                          </a>

                        </div>
                        <!-- Card image -->

                        <!-- Card content -->
                        <div class="card-body">

                          <!-- Category & Title -->
                          <h5 class="card-title mb-1">

                            <strong>

                              <a href="" class="dark-grey-text">iPad PRO</a>

                            </strong>

                          </h5>

                          <span class="badge badge-danger mb-2">bestseller</span>

                          <span class="badge badge-success mb-2 ml-2">SALE</span>

                          <!-- Rating -->
                          <ul class="rating">

                            <li>

                              <i class="fas fa-star blue-text"></i>

                            </li>

                            <li>

                              <i class="fas fa-star blue-text"></i>

                            </li>

                            <li>

                              <i class="fas fa-star blue-text"></i>

                            </li>

                            <li>

                              <i class="fas fa-star blue-text"></i>

                            </li>

                            <li>

                              <i class="fas fa-star grey-text"></i>

                            </li>

                          </ul>

                          <!-- Card footer -->
                          <div class="card-footer pb-0">

                            <div class="row mb-0">

                              <h5 class="mb-0 pb-0 mt-1 font-weight-bold">

                                <span class="red-text">

                                  <strong>$699</strong>

                                </span>

                                <span class="grey-text">

                                  <small>

                                    <s>$920</s>

                                  </small>

                                </span>

                              </h5>

                              <span class="float-right">

                                <a class="" data-toggle="tooltip" data-placement="top" title="Add to Cart">

                                  <i class="fas fa-shopping-cart ml-3"></i>

                                </a>

                              </span>

                            </div>

                          </div>

                        </div>
                        <!-- Card content -->

                      </div>
                      <!-- Card -->

                    </div>
                    <!-- Grid column -->

            
               
               

            </div>

          </div>

          <!-- Grid row -->
        </section>
        <!-- Section: Bestsellers & offers -->

        <!-- Section: Advertising -->
        <section>

          <!-- Grid row -->
          <div class="row">

            <!-- Grid column -->
            <div class="col-12">

              <!-- Image -->
              <div class="view  z-depth-1">

                <img style="width: 480px;height: 270px;" src="https://img-a.udemycdn.com/course/240x135/293814_7732_4.jpg" class="img-fluid"
                  alt="sample image">

                <div class="mask rgba-stylish-slight">

                  <div class="dark-grey-text text-right pt-lg-5 pt-md-1 mr-5 pr-md-4 pr-0">

                    <div>

                      <a>

                        <span class="badge badge-primary">SALE</span>

                      </a>

                      <h2 class="card-title font-weight-bold pt-md-3 pt-1">

                        <strong>Title quảng cáo !

                        </strong>

                      </h2>

                      <p class="pb-lg-3 pb-md-1 clearfix d-none d-md-block">Giảm 20% cho tất cả khóa học </p>

                      <a class="btn mr-0 btn-primary btn-rounded clearfix d-none d-md-inline-block">Read more</a>

                    </div>

                  </div>

                </div>

              </div>
              <!-- Image -->

            </div>
            <!-- Grid column -->

          </div>
          <!-- Grid row -->

        </section>


        <!-- Section: 10 khóa học được xem nhiều nhất -->
        <section>

          <div  class="divider-new" >

            <h3  class="h3-responsive font-weight-bold dark-grey-text mx-3" style="font-size:1cm">10 Khóa học được xem nhiều nhất</h3>

          </div>

          <hr class="mb-5">

          <!-- Grid row -->
          <div class="row">

            <!-- Grid column -->
            <div class="col-lg-3 col-md-6 mb-4">

              <!-- Card -->
              <div class="card card-ecommerce">

                <!-- Card image -->
                <div class="view overlay">

                  <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Products/12.jpg" class="img-fluid"
                    alt="sample image">

                  <a>

                    <div class="mask rgba-white-slight"></div>

                  </a>

                </div>
                <!-- Card image -->

                <!-- Card content -->
                <div class="card-body">

                  <!-- Category & Title -->
                  <h5 class="card-title mb-1">

                    <strong>

                      <a href="" class="dark-grey-text">Tên khóa học-lĩnh vực</a>

                    </strong>

                  </h5>

                  <span class="badge badge-danger mb-2">tag bestseller/new</span>
                  <p  style="font-size: small;" class="dark-grey-text">Tên của giáo viên</p>

                  <!-- Rating -->
                  <ul class="rating">

                    <li>

                      <i class="fas fa-star blue-text"></i>

                    </li>

                    <li>

                      <i class="fas fa-star blue-text"></i>

                    </li>

                    <li>

                      <i class="fas fa-star blue-text"></i>

                    </li>

                    <li>

                      <i class="fas fa-star blue-text"></i>

                    </li>

                    <li>

                      <i class="fas fa-star blue-text"></i>

                    </li>

                  </ul> 
                  <p>Số lượng đánh giá</p>

                  <!-- Card footer -->
                  <div class="card-footer pb-0">

                    <div class="row mb-0">

                      <p style="font-size:100%" class=" font-weight-bold">$9.99</p>
                      <p>&nbsp;&nbsp;</p>
                      <s style="font-size:100%" class="float-right -grey-text">$15</s>


                      <span class="float-bottom">

                        <a class="" data-toggle="tooltip" data-placement="top" title="Add to Cart"><i
                            class="fas fa-shopping-cart ml-3"></i></a>

                      </span>

                    </div>

                  </div>
                </div>
                <!-- Card content -->

              </div>
              <!-- Card -->

            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-lg-3 col-md-6 mb-4">

              <!-- Card -->
              <div class="card card-ecommerce">

                <!-- Card image -->
                <div class="view overlay">

                  <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Products/16.jpg" class="img-fluid"
                    alt="sample image">

                  <a>

                    <div class="mask rgba-white-slight"></div>

                  </a>

                </div>
                <!-- Card image -->

                <!-- Card content -->
                <div class="card-body">

                  <!-- Category & Title -->
                  <h5 class="card-title mb-1">

                    <strong>

                      <a href="" class="dark-grey-text">Tên khóa học-lĩnh vực</a>

                    </strong>

                  </h5>

                  <span class="badge badge-danger mb-2">tag bestseller-new</span>
                  <p  class="dark-grey-text" style="font-size: small;">Tên của giáo viên</p>
                  <!-- Rating -->
                  <ul class="rating">

                    <li>

                      <i class="fas fa-star blue-text"></i>

                    </li>

                    <li>

                      <i class="fas fa-star blue-text"></i>

                    </li>

                    <li>

                      <i class="fas fa-star blue-text"></i>

                    </li>

                    <li>

                      <i class="fas fa-star blue-text"></i>

                    </li>

                    <li>

                      <i class="fas fa-star blue-text"></i>

                    </li>

                  </ul>
                  <p>Số lượng đánh giá</p>

                  <!-- Card footer -->
                  <div class="card-footer pb-0">

                    <div class="row mb-0">

                      <p style="font-size:100%" class=" font-weight-bold">$9.99</p>
                      <p>&nbsp;&nbsp;</p>
                      <s style="font-size:100%" class="float-right -grey-text">$15</s>


                      <span class="float-bottom">

                        <a class="" data-toggle="tooltip" data-placement="top" title="Add to Cart"><i
                            class="fas fa-shopping-cart ml-3"></i></a>

                      </span>

                    </div>

                  </div>

                </div>
                <!-- Card content -->

              </div>
              <!-- Card -->

            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-lg-3 col-md-6 mb-4">

              <!-- Card -->
              <div class="card card-ecommerce">

                <!-- Card image -->
                <div class="view overlay">

                  <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Products/11.jpg" class="img-fluid"
                    alt="sample image">

                  <a>

                    <div class="mask rgba-white-slight"></div>

                  </a>

                </div>
                <!-- Card image -->

                <!-- Card content -->
                <div class="card-body">

                  <!-- Category & Title -->
                  <h5 class="card-title mb-1">

                    <strong>

                      <a href="" class="dark-grey-text">Tên khóa học-lĩnh vực</a>

                    </strong>

                  </h5>

                  <span class="badge badge-info mb-2">tag bestseller/new</span>
                  <p  class="dark-grey-text" style="font-size: small;">Tên của giáo viên</p>
                  <!-- Rating -->
                  <ul class="rating">

                    <li>

                      <i class="fas fa-star blue-text"></i>

                    </li>

                    <li>

                      <i class="fas fa-star blue-text"></i>

                    </li>

                    <li>

                      <i class="fas fa-star blue-text"></i>

                    </li>

                    <li>

                      <i class="fas fa-star blue-text"></i>

                    </li>

                    <li>

                      <i class="fas fa-star blue-text"></i>

                    </li>

                  </ul>
                  <p>Số lượng đánh giá</p>

                  <!-- Card footer -->
                  <div class="card-footer pb-0">

                    <div class="row mb-0">

                      <p style="font-size:100%" class=" font-weight-bold">$9.99</p>
                      <p>&nbsp;&nbsp;</p>
                      <s style="font-size:100%" class="float-right -grey-text">$15</s>


                      <span class="float-bottom">

                        <a class="" data-toggle="tooltip" data-placement="top" title="Add to Cart"><i
                            class="fas fa-shopping-cart ml-3"></i></a>

                      </span>

                    </div>

                  </div>

                </div>
                <!-- Card content -->
              </div>
              <!-- Card -->

            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-lg-3 col-md-6 mb-4">

              <!-- Card -->
              <div class="card card-ecommerce">

                <!-- Card image -->
                <div class="view overlay">

                  <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Products/3.jpg" class="img-fluid"
                    alt="sample image">

                  <a>

                    <div class="mask rgba-white-slight"></div>

                  </a>

                </div>
                <!-- Card image -->

                <!-- Card content -->
                <div class="card-body">

                  <!-- Category & Title -->
                  <h5 class="card-title mb-1">

                    <strong>

                      <a href="" class="dark-grey-text">Tên khóa học-lĩnh vực</a>

                    </strong>

                  </h5>

                  <span class="badge badge-danger mb-2">tag bestseller/new</span>
                  <p  class="dark-grey-text" style="font-size: small;">Tên của giáo viên</p>

                  <!-- Rating -->
                  <ul class="rating">

                    <li>

                      <i class="fas fa-star blue-text"></i>

                    </li>

                    <li>

                      <i class="fas fa-star blue-text"></i>

                    </li>

                    <li>

                      <i class="fas fa-star blue-text"></i>

                    </li>

                    <li>

                      <i class="fas fa-star blue-text"></i>

                    </li>

                    <li>

                      <i class="fas fa-star grey-text"></i>

                    </li>

                  </ul>
                  <p>Số lượng đánh giá</p>

                  <!-- Card footer -->
                  <div class="card-footer pb-0">

                    <div class="row mb-0">

                      <p style="font-size:100%" class=" font-weight-bold">$9.99</p>
                      <p>&nbsp;&nbsp;</p>
                      <s style="font-size:100%" class="float-right -grey-text">$15</s>


                      <span class="float-bottom">

                        <a class="" data-toggle="tooltip" data-placement="top" title="Add to Cart"><i
                            class="fas fa-shopping-cart ml-3"></i></a>

                      </span>

                    </div>

                  </div>

                </div>
                <!-- Card content -->

              </div>
              <!-- Card -->

            </div>
            <!-- Grid column -->

          </div>
          <!-- Grid row -->

          <!-- Grid row -->
          <div class="row justify-content-center mb-4">

            <!-- Pagination -->
            <nav class="mb-4">

              <ul class="pagination pagination-circle pg-blue mb-0">

                <!-- First -->
                <li class="page-item disabled clearfix d-none d-md-block">

                  <a class="page-link waves-effect waves-effect">First</a>

                </li>

                <!-- Arrow left -->
                <li class="page-item disabled">

                  <a class="page-link waves-effect waves-effect" aria-label="Previous">

                    <span aria-hidden="true">«</span>

                    <span class="sr-only">Previous</span>

                  </a>

                </li>

                <!-- Numbers -->
                <li class="page-item active">

                  <a class="page-link waves-effect waves-effect">1</a>

                </li>

                <li class="page-item">

                  <a class="page-link waves-effect waves-effect">2</a>

                </li>

                <li class="page-item">

                  <a class="page-link waves-effect waves-effect">3</a>

                </li>

                <li class="page-item">

                  <a class="page-link waves-effect waves-effect">4</a>

                </li>

                <li class="page-item">

                  <a class="page-link waves-effect waves-effect">5</a>

                </li>

                <!-- Arrow right -->
                <li class="page-item">

                  <a class="page-link waves-effect waves-effect" aria-label="Next">

                    <span aria-hidden="true">»</span>

                    <span class="sr-only">Next</span>

                  </a>

                </li>

                <!-- First -->
                <li class="page-item clearfix d-none d-md-block">

                  <a class="page-link waves-effect waves-effect">Last</a>

                </li>

              </ul>

            </nav>
            <!-- Pagination -->

          </div>
          <!-- Grid row -->

        </section>
        <!-- Section: 10 khóa học được xem nhiều nhất -->

        <!--Section: 10 khóa học được đăng gần nhất -->
        <section>

          <div  class="divider-new" >

            <h3  class="h3-responsive font-weight-bold dark-grey-text mx-3" style="font-size:1cm">10 Khóa học mới đăng gần nhất</h3>

          </div>

          <hr class="mb-5">

          <!-- Grid row -->
          <div class="row">

            <!-- Grid column -->
            <div class="col-lg-3 col-md-6 mb-4">

              <!-- Card -->
              <div class="card card-ecommerce">

                <!-- Card image -->
                <div class="view overlay">

                  <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Products/12.jpg" class="img-fluid"
                    alt="sample image">

                  <a>

                    <div class="mask rgba-white-slight"></div>

                  </a>

                </div>
                <!-- Card image -->

                <!-- Card content -->
                <div class="card-body">

                  <!-- Category & Title -->
                  <h5 class="card-title mb-1">

                    <strong>

                      <a href="" class="dark-grey-text">Tên khóa học-lĩnh vực</a>

                    </strong>

                  </h5>

                  <span class="badge badge-danger mb-2">tag bestseller/new</span>
                  <p  style="font-size: small;" class="dark-grey-text">Tên của giáo viên</p>

                  <!-- Rating -->
                  <ul class="rating">

                    <li>

                      <i class="fas fa-star blue-text"></i>

                    </li>

                    <li>

                      <i class="fas fa-star blue-text"></i>

                    </li>

                    <li>

                      <i class="fas fa-star blue-text"></i>

                    </li>

                    <li>

                      <i class="fas fa-star blue-text"></i>

                    </li>

                    <li>

                      <i class="fas fa-star blue-text"></i>

                    </li>

                  </ul> 
                  <p>Số lượng đánh giá</p>

                  <!-- Card footer -->
                  <div class="card-footer pb-0">

                    <div class="row mb-0">

                      <p style="font-size:100%" class=" font-weight-bold">$9.99</p>
                      <p>&nbsp;&nbsp;</p>
                      <s style="font-size:100%" class="float-right -grey-text">$15</s>


                      <span class="float-bottom">

                        <a class="" data-toggle="tooltip" data-placement="top" title="Add to Cart"><i
                            class="fas fa-shopping-cart ml-3"></i></a>

                      </span>

                    </div>

                  </div>
                </div>
                <!-- Card content -->

              </div>
              <!-- Card -->

            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-lg-3 col-md-6 mb-4">

              <!-- Card -->
              <div class="card card-ecommerce">

                <!-- Card image -->
                <div class="view overlay">

                  <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Products/16.jpg" class="img-fluid"
                    alt="sample image">

                  <a>

                    <div class="mask rgba-white-slight"></div>

                  </a>

                </div>
                <!-- Card image -->

                <!-- Card content -->
                <div class="card-body">

                  <!-- Category & Title -->
                  <h5 class="card-title mb-1">

                    <strong>

                      <a href="" class="dark-grey-text">Tên khóa học-lĩnh vực</a>

                    </strong>

                  </h5>

                  <span class="badge badge-danger mb-2">tag bestseller-new</span>
                  <p  class="dark-grey-text" style="font-size: small;">Tên của giáo viên</p>
                  <!-- Rating -->
                  <ul class="rating">

                    <li>

                      <i class="fas fa-star blue-text"></i>

                    </li>

                    <li>

                      <i class="fas fa-star blue-text"></i>

                    </li>

                    <li>

                      <i class="fas fa-star blue-text"></i>

                    </li>

                    <li>

                      <i class="fas fa-star blue-text"></i>

                    </li>

                    <li>

                      <i class="fas fa-star blue-text"></i>

                    </li>

                  </ul>
                  <p>Số lượng đánh giá</p>

                  <!-- Card footer -->
                  <div class="card-footer pb-0">

                    <div class="row mb-0">

                      <p style="font-size:100%" class=" font-weight-bold">$9.99</p>
                      <p>&nbsp;&nbsp;</p>
                      <s style="font-size:100%" class="float-right -grey-text">$15</s>


                      <span class="float-bottom">

                        <a class="" data-toggle="tooltip" data-placement="top" title="Add to Cart"><i
                            class="fas fa-shopping-cart ml-3"></i></a>

                      </span>

                    </div>

                  </div>

                </div>
                <!-- Card content -->

              </div>
              <!-- Card -->

            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-lg-3 col-md-6 mb-4">

              <!-- Card -->
              <div class="card card-ecommerce">

                <!-- Card image -->
                <div class="view overlay">

                  <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Products/11.jpg" class="img-fluid"
                    alt="sample image">

                  <a>

                    <div class="mask rgba-white-slight"></div>

                  </a>

                </div>
                <!-- Card image -->

                <!-- Card content -->
                <div class="card-body">

                  <!-- Category & Title -->
                  <h5 class="card-title mb-1">

                    <strong>

                      <a href="" class="dark-grey-text">Tên khóa học-lĩnh vực</a>

                    </strong>

                  </h5>

                  <span class="badge badge-info mb-2">tag bestseller/new</span>
                  <p  class="dark-grey-text" style="font-size: small;">Tên của giáo viên</p>
                  <!-- Rating -->
                  <ul class="rating">

                    <li>

                      <i class="fas fa-star blue-text"></i>

                    </li>

                    <li>

                      <i class="fas fa-star blue-text"></i>

                    </li>

                    <li>

                      <i class="fas fa-star blue-text"></i>

                    </li>

                    <li>

                      <i class="fas fa-star blue-text"></i>

                    </li>

                    <li>

                      <i class="fas fa-star blue-text"></i>

                    </li>

                  </ul>
                  <p>Số lượng đánh giá</p>

                  <!-- Card footer -->
                  <div class="card-footer pb-0">

                    <div class="row mb-0">

                      <p style="font-size:100%" class=" font-weight-bold">$9.99</p>
                      <p>&nbsp;&nbsp;</p>
                      <s style="font-size:100%" class="float-right -grey-text">$15</s>


                      <span class="float-bottom">

                        <a class="" data-toggle="tooltip" data-placement="top" title="Add to Cart"><i
                            class="fas fa-shopping-cart ml-3"></i></a>

                      </span>

                    </div>

                  </div>

                </div>
                <!-- Card content -->
              </div>
              <!-- Card -->

            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-lg-3 col-md-6 mb-4">

              <!-- Card -->
              <div class="card card-ecommerce">

                <!-- Card image -->
                <div class="view overlay">

                  <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Products/3.jpg" class="img-fluid"
                    alt="sample image">

                  <a>

                    <div class="mask rgba-white-slight"></div>

                  </a>

                </div>
                <!-- Card image -->

                <!-- Card content -->
                <div class="card-body">

                  <!-- Category & Title -->
                  <h5 class="card-title mb-1">

                    <strong>

                      <a href="" class="dark-grey-text">Tên khóa học-lĩnh vực</a>

                    </strong>

                  </h5>

                  <span class="badge badge-danger mb-2">tag bestseller/new</span>
                  <p  class="dark-grey-text" style="font-size: small;">Tên của giáo viên</p>

                  <!-- Rating -->
                  <ul class="rating">

                    <li>

                      <i class="fas fa-star blue-text"></i>

                    </li>

                    <li>

                      <i class="fas fa-star blue-text"></i>

                    </li>

                    <li>

                      <i class="fas fa-star blue-text"></i>

                    </li>

                    <li>

                      <i class="fas fa-star blue-text"></i>

                    </li>

                    <li>

                      <i class="fas fa-star grey-text"></i>

                    </li>

                  </ul>
                  <p>Số lượng đánh giá</p>

                  <!-- Card footer -->
                  <div class="card-footer pb-0">

                    <div class="row mb-0">

                      <p style="font-size:100%" class=" font-weight-bold">$9.99</p>
                      <p>&nbsp;&nbsp;</p>
                      <s style="font-size:100%" class="float-right -grey-text">$15</s>


                      <span class="float-bottom">

                        <a class="" data-toggle="tooltip" data-placement="top" title="Add to Cart"><i
                            class="fas fa-shopping-cart ml-3"></i></a>

                      </span>

                    </div>

                  </div>

                </div>
                <!-- Card content -->

              </div>
              <!-- Card -->

            </div>
            <!-- Grid column -->

          </div>
          <!-- Grid row -->

          <!-- Grid row -->
          <div class="row justify-content-center mb-4">

            <!-- Pagination -->
            <nav class="mb-4">

              <ul class="pagination pagination-circle pg-blue mb-0">

                <!-- First -->
                <li class="page-item disabled clearfix d-none d-md-block">

                  <a class="page-link waves-effect waves-effect">First</a>

                </li>

                <!-- Arrow left -->
                <li class="page-item disabled">

                  <a class="page-link waves-effect waves-effect" aria-label="Previous">

                    <span aria-hidden="true">«</span>

                    <span class="sr-only">Previous</span>

                  </a>

                </li>

                <!-- Numbers -->
                <li class="page-item active">

                  <a class="page-link waves-effect waves-effect">1</a>

                </li>

                <li class="page-item">

                  <a class="page-link waves-effect waves-effect">2</a>

                </li>

                <li class="page-item">

                  <a class="page-link waves-effect waves-effect">3</a>

                </li>

                <li class="page-item">

                  <a class="page-link waves-effect waves-effect">4</a>

                </li>

                <li class="page-item">

                  <a class="page-link waves-effect waves-effect">5</a>

                </li>

                <!-- Arrow right -->
                <li class="page-item">

                  <a class="page-link waves-effect waves-effect" aria-label="Next">

                    <span aria-hidden="true">»</span>

                    <span class="sr-only">Next</span>

                  </a>

                </li>

                <!-- First -->
                <li class="page-item clearfix d-none d-md-block">

                  <a class="page-link waves-effect waves-effect">Last</a>

                </li>

              </ul>

            </nav>
            <!-- Pagination -->

          </div>
          <!-- Grid row -->

        </section>
        <!--10 khóa học mới đăng--!>
      </div>
      <!-- Content -->

    </div>
    <!-- Grid row -->

  </div>
  <!--main container-->