
html,
body,
header,
.jarallax {
    height: 700px;
}

@media (max-width: 740px) {

    html,
    body,
    header,
    .jarallax {
        height: 100vh;
    }
}

@media (min-width: 800px) and (max-width: 850px) {

    html,
    body,
    header,
    .jarallax {
        height: 100vh;
    }
}

@media (min-width: 560px) and (max-width: 650px) {
    header .jarallax h1 {
        margin-bottom: 1.5rem !important;
    }

    header .jarallax h5 {
        margin-bottom: 1.5rem !important;
    }
}

.card-ecommerce{
    width: 300px;
    height: 400px;
    float: left;
}

.word-wrap-one-line {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1; /* number of lines to show */
    -webkit-box-orient: vertical;
  }