{{#section 'titleExtraText'}}| Cart {{/section}}

{{#section 'css'}}
<style>
  body {
    padding-top: 35px;
  }

</style>
{{/section}}

<!--Main layout-->
<main>
  <div class="container">
    <!--Section: Block Content-->
    <section class="mt-5 mb-4">
      <div class="view zoom z-depth-1">
        <img src="https://images.unsplash.com/photo-1607114015068-c9df0f325d75?fit=crop&w=1200&h=500&q=80"
          class="img-fluid" alt="Empty cart image">
        <div class="mask">
          <div class="white-text pt-4 ml-3 pl-3">
            <div>
              <h2 class="card-title font-weight-bold pt-2">
                <strong>Successful payment</strong>
              </h2>
              <p class="">Thank you for purchase the course. Keep learning!</p>
              <a class="btn btn-danger btn-sm btn-rounded clearfix d-none d-md-inline-block waves-effect waves-light"
                href="/course/myLearning">
                My learning</a>
            </div>
          </div>
        </div>
      </div>

    </section>
    <!--Section: Block Content-->

  </div>
</main>
<!--Main layout-->