body { 
    padding-top: 100px; 
}

.imagePreview{
    width: 100px;
    height: 100px;
    -webkit-border-radius: 60px;
    -webkit-background-clip: padding-box;
    -moz-border-radius: 60px;
    -moz-background-clip: padding;
    border-radius: 60px;
    background-clip: padding-box;
    margin: 7px 0 0 5px;
    float: left;
}
.imageInstructor{
    width: 150px;
    height: 150px;
    -webkit-border-radius: 100px;
    -webkit-background-clip: padding-box;
    -moz-border-radius: 100px;
    -moz-background-clip: padding;
    border-radius: 100px;
    background-clip: padding-box;
    margin: 7px 0 0 5px;
    float: left;
}

.imageSlide{
    width: 300px;
    height: 200px;
    -webkit-border-radius: 0px;
    -webkit-background-clip: padding-box;
    -moz-border-radius: 0px;
    -moz-background-clip: padding;
    border-radius: 0px;
    background-clip: padding-box;
    margin: 7px 0 0 5px;
    float: left;
}
.card-ecommerce{
    width: 300px;
    height: 500px;
    float: left;
}

/* #scrollspy .nav-item {
    width: 100%;
    } */
    
    /* #scrollspy a {
    font-weight: 400;
    padding: 0 5px;
    margin-top: 3px;
    margin-bottom: 3px;
    color: black;
    }
    
    #scrollspy li .active {
    font-weight: 600;
    } */
    
.scrollspy-container {
    position: relative;
    overflow: auto;
}

#productDetails, #description, #courseOutline, #instructor, #reviews, #relatedCourses {
    padding-top: 100px; 
    margin-top: -100px;
}

.word-wrap-one-line {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1; /* number of lines to show */
  -webkit-box-orient: vertical;
}

/*https://mdbootstrap.com/snippets/jquery/pjoter-2-0/929850#css-tab-view*/
.mdb-rating .rate-popover {
    color: grey; }
  
  .mdb-rating .live {
    color: black; }
  
  .mdb-rating .oneStar {
    color: #44370f; }
  
  .mdb-rating .twoStars {
    color: #96781e; }
  
  .mdb-rating .threeStars {
    color: #e2b52e; }
  
  .mdb-rating .fourStars {
    color: #f1ba12; }
  
  .mdb-rating .fiveStars {
    color: #f3cb06; }
  
  .mdb-rating .amber-text {
    color: #ffc107 !important; }