<!-- Intro Section -->
<div id="home" class="view jarallax" data-jarallax='{"speed": 0.2}'
    style="background-image: url(/image/gradient3.png); background-repeat: no-repeat; background-size: cover; background-position: center center;">
    <div class="mask rgba-stylish-white">
        <div class="container h-100 d-flex justify-content-center align-items-center">
            <div class="row pt-5 mt-3">
                <div class="col-md-12 mb-3">
                    <div class="intro-info-content text-center">
                        <h1 class="display-3 blue-text mb-5 wow fadeInDown" data-wow-delay="0.3s">START <a
                                class="blue-text font-weight-bold">LEARNING</a></h1>
                        <h5 class="text-uppercase black-text mb-5 mt-1 font-weight-bold wow fadeInDown"
                            data-wow-delay="0.3s">
                            with us. </h5>
                        <a class="btn btn-blue btn-lg wow fadeInDown" href="/course/byCat?orderBy=default" data-wow-delay="0.3s"><i
                                class="fas fa-book-open left"></i>BROWSE COURSE</a>
                        <a class="btn btn-outline-blue btn-lg wow fadeInDown" href="#higlightCourses" data-wow-delay="0.3s"><i
                                class="fas fa-info left"></i>ABOUT</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>